* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

body {
    background-image: url('img/sachetto.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 78px;
    display: flex;
    align-items: center;
    background-color: rgba(54, 54, 37, 0.4);
    z-index: 10;
}

.logo {
    margin-left: 85px;
}

.logo img {
    width: 105px;
    height: auto;
    display: block;
}


.menu nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 55px;
}

.menu nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: "Arial Narrow", Arial, sans-serif;
    transition: 0.3s;
}

.menu nav a:hover {
    opacity: 0.7;
}

.animais {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 75px;
    padding: 20px 30px;
    margin-top: 650px;
    margin-bottom: 40px;
}

.card-animal {
    width: 300px;
    height: 480px;
    overflow: hidden;

    background: rgba(35, 35, 25, 0.55);
    border: 1.5px solid white;
    border-radius: 15px;
    color: white;
}

.card-animal img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    border-bottom: 1px solid white;
}

.info-animal {
    padding: 12px 14px;
    text-align: left;
}

.info-animal h3 {
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 3px;
}

.nome-cientifico {
    font-size: 15px;
    font-style: italic;
    margin-bottom: 12px;
    opacity: 0.8;
}

.info-animal>p:not(.nome-cientifico) {
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 30px;
}

.info-animal button {
    width: 100%;
    height: 40px;

    background: transparent;
    color: white;

    border: 1px solid white;
    border-radius: 8px;

    font-size: 15px;

    cursor: pointer;
    transition: 0.3s;
}

.info-animal button:hover {
    background: rgba(255, 255, 255, 0.2);
}